<ion-header style="z-index: 0;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="danger">This is header</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <iframe [src]="link" frameborder="0"
    style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>


</ion-content>

<ion-footer style="z-index: 0;">
  <ion-toolbar>
    <ion-text color="danger">This is footer</ion-text>
  </ion-toolbar>
</ion-footer>
